*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    padding:0 3vw;
}
h2{
    font-weight:500;
    font-size: 1.1vw;
}
#page1{
    height: 100vh;
    width: 100%;
}
#page11{
    height: 10%;
    width: 100%;
    padding: 0 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav1{
    padding-left: 3vw;
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    padding-top: 3vh;
}
#logo{
    height:80%;
    width:4vw;
    display: flex;
    align-items: center;
    gap: 0.1vh;
    transform: rotate(45deg);
}
.a{
    height:60%;
    width:20%;
    background-color: #000000;
    border-radius:2vw;
}
#aa{
    transform: translateY(-6px);
}
#nav2{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 1vw;
    justify-content: center;
}
#nav3{
    display: flex;
    width: 25%;
    height: 100%;
    align-items: center;
    gap: 2vw;
    justify-content: end;
    padding-right: 5vw;
}
#menu{
    display: none;
}
.quote{
    height: 5vh;
    width: 9vw;
    background-color: rgb(209, 131, 186);
    border-radius: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page12{
    height:40%;
    width: 100%;
    display: flex;
}
#box1{
    height: 100%;
    width: 50%;
    padding-top: 13vh;
    padding-left: 5vw;
}
#box1 h1{
    font-size: 4vw;
    line-height:7vh;
    font-weight: 400;
}
#box2{
    height: 100%;
    width: 50%;
    display: flex;
    padding-top: 27vh;
    padding-left: 11.6vw;
}
#box2a{
    height: 20vh;
    width: 100%;
    display: flex;
    gap: 4vw;

}
#page13{
    height: 55%;
    width: 100%;
}
#work{
    height: 5vh;
    width: 9vw;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1vw;
}
#page13{
    height:46%;
    width: 100%;
    display: flex;
    justify-content: center;
}
#img{
    height: 100%;
    width: 100%;
    border-radius:3vw;
    overflow: hidden;
}
#img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page2{
    height: 80vh;
    width: 100%;
}
#page21{
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.fox{
    scale:0.8;
    height: 55%;
    width: 14%;
}
.fox img{
    height: 100%;
    width: 100%;
    aspect-ratio: inherit;
}
#page22{
    height: 40vh;
    width: 100%;
    padding-top: 5vh;
    padding-left: 4.5vw;
}
#page22 h1{
    font-size:5vw;
    line-height: 10vh;
    font-weight: 400;
}
#bb{
    display: none;
}
#page23{
    height: 25vh;
    width: 100%;
    padding-left: 4.5vw;
    display: flex;
}
#lol1{
    width: 50%;
    display: flex;
    gap:3vw;
    align-items: center;
}
#con{
    height: 80%;
    width: 70%;
    display: flex;
    align-items: center;
}
.circle{
    background-color: black;
    height: 70%;
    width: 22%;
    border-radius:100px;
    overflow: hidden;
}
.circle img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#hh{
    font-size: 5vh;
}
#lol2{
    padding-left: 3vw;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (max-width: 600px){
    main{
        padding:0 3vw;
    }
    h2{
        font-weight:500;
        font-size: 1.1vw;
    }
    #page1{
        height: 80vh;
        width: 100%;
    }
    #page11{
        height: 10%;
        width: 100%;
        padding: 0 2vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #nav1{
        padding-left: 3vw;
        height: 100%;
        width: 25%;
        display: flex;
        align-items: center;
        padding-top: 3vh;
    }
    #logo{
        height:7vw;
        width:4vw;
        display: flex;
        align-items: center;
        transform: rotate(45deg);
    }
    .a{
        height:4.3vw;
        width:4vw;
        background-color: #000000;
        border-radius:2vw;
    }
    #aaa{
        transform: translateY(-6px);
    }
    #nav2{
        height: 100%;
        width: 50%;
        display:none;
        align-items: center;
        gap: 1vw;
        justify-content: center;
    }
    #nav3{
        display: flex;
        width: 25%;
        height: 100%;
        align-items: center;
        gap: 2vw;
        justify-content: end;
        padding-right: 5vw;

    }
    #menu{
        display: block;
    }
    #nav3 h2{
        display: none;
    }
    .quote{
        display: none;
    }
    #page12{
        height:50%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #box1{
        height: 75%;
        width: 100%;
        padding-top:2vh;
        padding-left: 5vw;
        display: flex;
        align-items: center;
    }
    #box1 h1{
        font-size: 14.5vw;
        line-height:1;
        font-weight: 500;
    }
    #box2{
        height: 20%;
        width: 100%;
        display: flex;
        padding-top:0;
        padding-left:5vw;
    }
    #box2 h2{
        font-size: 4vw;
    }
    #box2a{
        height: 100%;
        width: 100%;
        display: flex;
        gap: 10vw;
    }
    #ee{
        display: none;
    }
    #work{
        display: block;
        height: 5vh;
        width: 25vw;
        background-color: rgb(0, 0, 0);
        color: white;
        border-radius: 4vw;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:1vw;
        margin-top:2vh ;
    }
    #work h2{
        font-size: 4vw;
    }
    #page13{
        height:40%;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #img{
        height: 100%;
        width: 89%;
        border-radius:5vw;
        overflow: hidden;
    }
    #img img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    #page2{
        padding-top:8vw;
        height: 65vh;
        width: 100%;
    }
    #page21{
        height: 6vw;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .fox{
        scale:0.8;
        height:100%;
        width: 14%;
    }
    .fox img{
        height: 100%;
        width: 100%;
        aspect-ratio: inherit;
    }
    #page22{
        height:13vh;
        width: 100%;
        padding-top: 5vh;
        padding-left: 4.5vw;
    }
    #page22 h1{
        font-size:7.5vw;
        line-height:1.2;
        font-weight: 400;
    }
    #aa{
        display: none;
    }
    #bb{
        display: block;
    }
    #page23{
        height:40vh;
        width: 100%;
        padding-left: 4.5vw;
        display: flex;
        flex-direction: column-reverse;
    }
    #lol1{
        margin-top: -6vw;
        width: 100%;
        height:15vh;
        display: flex;
        gap:3vw;
        align-items: center;
    }
    #con{
        height: 80%;
        width: 60%;
        display: flex;
        align-items: center;
    }
    .circle{
        scale:1;
        background-color: black;
        height:12vw;
        width:12vw;
        border-radius:50%;
        overflow: hidden;
    }
    .circle img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    #hh{
        font-size: 5vh;
        display: none;
    }
    #lol2{
        padding-left:0;
        height:20vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #lol2 h2{
        font-size: 4vw;
    }
}